.dialog-details .open-dialog:hover{
    color: blue !important;
    border-bottom: solid blue 2px !important;;
}
.supplier-header-data{
    color: white;
    font-weight: bold;
    margin-left: -150px;
}
.supplier-header-data .supplier-amount{
    color: white;
    font-weight: bold;
}
.supp-acc-container{
    margin-top: 10px;
}

.supp-acc-container table thead{
    background-color: black !important;
    color: white !important;
}
.supp-acc-container table{
    line-height: 4px !important;
}
.table-hover > tbody > tr:hover {
    background-color: #e7e7e7 !important;
}