.dialog-details .open-dialog:hover{
    color: blue !important;
    border-bottom: solid blue 2px !important;;
}
.supplier-header-data{
    color: white;
    font-weight: bold;
    margin-left: -150px;
}
.supplier-header-data .supplier-amount{
    color: white;
    font-weight: bold;
}
.supp-acc-container{
    margin-top: 10px;
}