.main-menu{
    background-color:#505458;
    border-radius: 10px;
}
.nav-link{
    color:rgb(219, 210, 210);
    margin-left: 20px;
    /* font-weight: 500; */
}
.nav-link:hover{
    color:rgb(255, 255, 255);
    /* font-weight: bold; */
    /* border-bottom: solid white 1px; */
    /* font-size:15px; */
}
.nav-item-active{
    color:red
}