.is_paid{
    background-color: lightgreen !important;
}
.is_paid-selected{
    background-color: rgb(115, 238, 115) !important;
}
.ant-table-tbody>.is_paid-selected:hover>td{
    background-color:rgb(115, 238, 115) !important;
    color:white !important;
}
.ant-table-tbody>.is_paid:hover>td{
    background-color:rgb(115, 238, 115) !important;
    color:white !important;
}
