.main-filter-box{
    margin-top: 20px;
    /* border:solid gainsboro 2px; */
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.ant-collapse-content{
    background-color: rgb(253, 253, 253) !important;
}
.ant-select-selector{
    border-radius: 5px !important;
    height: 38px !important;
    border: 1px solid #a1a5a8 !important;
}
.date-range-filter{
    margin-top: 20px !important;
}
.common-filter-container .react-datepicker{
    display:none !important;
}
.common-filter-container .multi-select-supplier-filter{
    margin-bottom: 10px !important;
}
.common-filter-container .multi-select-supplier-filter .ant-select-arrow{
    font-weight: bold !important;
    /* margin-right: 558px !important; */
    margin-right: 55% !important;
    margin-top: -17px !important;
    font-size: 30px !important;
    color:blue !important
}
.filer-order{
    font-size: 12px;
    font-weight: bold;
}
.date-filter{
    margin-top: 20px;
}
.payment-filter{
    margin-top: 20px !important;
}
.submit-supplier-filter-btn{
    border: solid rgb(182, 179, 179) 1px !important;
    margin-top: 10px;
    background-color: rgb(230, 230, 230) !important;
}
.submit-supplier-filter-btn:hover{
    background-color: rgb(187, 187, 187) !important;
    color:rgb(66, 107, 121) !important
}
.submit-filter-btn{
    border: solid rgb(182, 179, 179) 1px !important;
    margin-top: 0px;
    background-color: rgb(230, 230, 230) !important;
    /* width: 30% !important; */
}
.submit-filter-btn:hover{
    background-color: rgb(187, 187, 187) !important;
    color:rgb(66, 107, 121) !important;
}
.ant-select-selection-placeholder {
    color: rgb(0, 0, 0) !important;
    font-weight: 400;
    font-size: 15px;
    font-family: inherit;
    opacity: 0.6 !important;
}
  